<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
<link rel="stylesheet" type="text/css" data-th-href="@{/css/header.css}">
<title>Document</title>
</head>
<body>
	<header class="text-bg-light text-center p-4" th:fragment="header">
		<img th:src="@{/images/logo.jpg}" alt="Logotipo de la Facultad" class="mb-2 img-fluid" style="width: 300px; height: 274px;">
		<h1>Facultad de Ingeniería</h1>
		<h2>Universidad Nacional de Jujuy</h2>
		<p class="university-motto">“Si puedes imaginarlo, puedes programarlo”</p>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<img th:src="@{/images/logo_fi.png}" alt="Logotipo de la Facultad" width="40" height="40">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item active"><a class="nav-link navbar-hover" href="/principal/home">Inicio</a></li>
						<li class="nav-item"><a class="nav-link navbar-hover" href="https://www.fi.unju.edu.ar">Acerca de</a></li>
						<li class="nav-item"><a class="nav-link navbar-hover" href="https://www.fi.unju.edu.ar/carreras/carreras-de-grado.html">Carreras de Grado</a></li>
						<li class="nav-item"><a class="nav-link navbar-hover" href="https://www.fi.unju.edu.ar/carreras/carrera-pregrado.html">Carreras de PreGrado</a></li>
						<li class="nav-item"><a class="nav-link navbar-hover" href="https://www.fi.unju.edu.ar/noticias/historial.html">Noticias</a></li>
						<li class="nav-item"><a class="nav-link navbar-hover" href="#">Contacto</a></li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle navbar-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gestion</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/docente/listaDocentes">Docentes</a></li>
								<li><a class="dropdown-item" href="/alumno/listaAlumnos">Alumnos</a></li>
								<li><a class="dropdown-item" href="/materia/listadoMaterias">Materia</a></li>
								<li><a class="dropdown-item" href="/carrera/listaCarreras">Carrera</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle navbar-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Filtros</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/alumno/filtrarPorMateria">Filtrar Alumnos por Materia</a></li>
								<li><a class="dropdown-item" href="/alumno/filtrarPorCarrera">Filtrar Alumnos por Carrera</a></li>
							</ul>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>