body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

/* Estilos del encabezado */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
}

header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    font-size: 1.75em;
    margin: 0;
    color: #6c757d;
}

header p.university-motto {
    font-style: italic;
    font-size: 1.2em;
    color: #343a40;
    margin-top: 10px;
}

/* Estilos de la barra de navegación */
.navbar {
    margin-top: 20px;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    margin-right: 10px;
}

.navbar .nav-item {
    margin: 0 5px;
}

.navbar .nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #ffc107;
}

.navbar .dropdown-menu {
    background-color: #343a40;
    border: none;
}

.navbar .dropdown-menu .dropdown-item {
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #495057;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1.5em;
    }

    header p.university-motto {
        font-size: 1em;
    }
}
