<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Carrera para Filtrar Alumnos</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div class="row"><header data-th-replace="~{fragments/header::header}"></header></div>
    <div class="row mt-5">
    <div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<div class="card shadow"
					style="background-color: rgba(255, 255, 255, 0.8);">
					<div class="card-body">
				        <h2>Seleccionar Carrera</h2>
				        <form class="row g-3" data-th-action="@{/alumno/filtrarPorCarrera}" method="post">
				            <div class="form-floating col-md-3">
				                <select class="form-select" id="carrera" name="carreraId">
				                    <option value="">Seleccionar carrera</option>
				                    <option data-th-each="carrera : ${listaCarreras}" data-th-value="${carrera.id}" data-th-text="${carrera.nombre}"></option>
				                </select>
				                <label for="carrera" class="form-label">Carrera</label>
				            </div>
				            <div class="col-12 d-flex justify-content-center gap-2">
				                <button type="submit" class="btn btn-lg btn-success">Mostrar Alumnos</button>
				                <a class="btn btn-lg btn-secondary" href="/alumno/listaAlumnos">Regresar</a>
				            </div>
				        </form>
				     </div>
				  </div>
				</div>
			</div>
    </div>
</div>
    <div class="row"><footer data-th-replace="~{fragments/footer::footer}"></footer></div>
</div>
<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>