<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Carreras</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>
<body>
<div class="container">
    <div class="row"><header th:replace="fragments/header :: header"></header></div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card shadow" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Listado de Carreras</h2>
                            <a class="btn btn-success" href="/carrera/formularioCarrera">Agregar Nueva Carrera</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Duración (años)</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="carrera : ${listadoCarreras}">
                                        <td th:text="${carrera.codigo}"></td>
                                        <td th:text="${carrera.nombre}"></td>
                                        <td th:text="${carrera.duracion}"></td>
                                        <td th:text="${carrera.estado ? 'Activo' : 'Inactivo'}"></td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center">
                                                <a th:href="@{'/carrera/borrarCarrera/' + ${carrera.id}}" class="btn btn-danger me-2">Borrar</a>
                                                <a th:href="@{'/carrera/editarCarrera/' + ${carrera.id}}" class="btn btn-warning">Modificar</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><footer th:replace="fragments/footer :: footer"></footer></div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
